@model SmartSuper.Models.Customers

@{
    ViewBag.Title = "Details";
}

<h2>פרטי חשבון</h2>


<fieldset style="margin-left:150px">
    <div>
        <hr />
        <div class="dl-horizontal" style="float:right">
            <div>
                <label style="font-weight:bold">@Html.DisplayNameFor(model => model.FirstName):</label>
                @Html.DisplayFor(model => model.FirstName)
            </div>

            <div>
                <label style="font-weight:bold">@Html.DisplayNameFor(model => model.LastName):</label>
                @Html.DisplayFor(model => model.LastName)
            </div>

            <div>
                <label style="font-weight:bold">@Html.DisplayNameFor(model => model.BirthDate):</label>
                @Model.BirthDate.ToShortDateString()
            </div>

            <div>
                <label style="font-weight:bold">@Html.DisplayNameFor(model => model.Gender):</label>
                @Html.DisplayFor(model => model.Gender)
            </div>

            <div>
                <label style="font-weight:bold">@Html.DisplayNameFor(model => model.Email):</label>
                @Html.DisplayFor(model => model.Email)
            </div>

            <div>
                <label style="font-weight:bold">@Html.DisplayNameFor(model => model.Password):</label>
                @Html.DisplayFor(model => model.Password)
            </div>

            <div>
                <label style="font-weight:bold">@Html.DisplayNameFor(model => model.Age):</label>
                @Html.DisplayFor(model => model.Age)
            </div>

            <div>
                @if (Model.City != null)
                {
                    <label style="font-weight:bold">@Html.DisplayNameFor(model => model.City):</label>
                    @Html.DisplayFor(model => model.City)
                }
            </div>

            <div>
                @if (Model.Street != null)
                {
                    <label style="font-weight:bold">@Html.DisplayNameFor(model => model.Street):</label>
                    @Html.DisplayFor(model => model.Street)
                }
            </div>

            <div>
                @if (Model.PhoneNumber != null)
                {
                    <label style="font-weight:bold">@Html.DisplayNameFor(model => model.PhoneNumber):</label>
                    @Html.DisplayFor(model => model.PhoneNumber)
                }
            </div>


            </div>
        </div>
    </div>
</fieldset>

<p>
    @Html.ActionLink("עריכת פרטי החשבון", "Edit", new { id = Model.ID })

    @{var sessionUser = (SmartSuper.Models.Customers)HttpContext.Current.Session["user"];}
    @if (sessionUser != null && sessionUser.FirstName == "admin")
    {
        <text>|</text>
        @Html.ActionLink("חזרה לרשימת לקוחות", "Index", "Customer")
    }
</p>
