@model IEnumerable<SmartSuper.Models.Products>

@{
    ViewBag.Title = "GetListByID";
}

<h2>רשימת המוצרים מסוג המוצר הנבחר</h2>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $(".addProductToCart").click(function () {
                var button = $(this);

                $.ajax({
                    url: '/Products/addProductToCart',
                    type: 'Post',
                    dataType: 'Json',
                    data: { Id: $(this).parent().attr("id") },
                    success: (function (result) {

                        $(button).text("נוסף לסל");
                        $(button).removeClass("addProductToCart");
                        $(button).addClass("inCart");
                        $(button).attr("disabled", "disabled");
                    }),
                    error: (function (xhr, status) {
                        alert(status);
                    })
                });
            });
        });

    </script>
}

@{var user = (SmartSuper.Models.Customers)HttpContext.Current.Session["user"];}

@using (Html.BeginForm("GetListByID", "Product", FormMethod.Post))
{
    <label>חיפוש : </label>
    <div>
        <input type="text" name="Product" id="Product" />
        <input type="submit" name="שלח" value="חפש" />
    </div>
}



@if (user != null && user.FirstName == "admin")
{
    <p>
        @Html.ActionLink("יצירת מוצר חדש", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductType_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodCompany_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price_For_100_Gram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deal_Bool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price_For_100_Gram_In_Deal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Condition_For_Deal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount_Condition_For_Deal)
        </th>
        <th></th>
    </tr>

@{var Current_ShppingCart_Products = (List<SmartSuper.ViewModel.ProductsOfShoppingCartsIDs>)System.Web.HttpContext.Current.Session["Current_ShppingCart_Products"];}

@foreach (var item in Model)
{
    <tr class="tableRow">
        <td>
            @Html.DisplayFor(modelItem => item.ProductType_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodCompany_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price_For_100_Gram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deal_Bool)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price_For_100_Gram_In_Deal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Condition_For_Deal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount_Condition_For_Deal)
        </td>
        <td>
            @{ bool IsProductIDInsideList = false;}
            <div id=@item.ID class="Products-details" style="text-align:center; font-weight:bold">

                @foreach (SmartSuper.ViewModel.ProductsOfShoppingCartsIDs item2 in Current_ShppingCart_Products)
                {
                    if (item2.ProductsID == item.ID)
                    {
                        IsProductIDInsideList = true;
                    }
                }
                @if (IsProductIDInsideList == true)
                {
                    <button type="button" disabled="disabled" class="inCart" id="inCart">נוסף לסל</button>
                }
                else
                {
                    <button type="button" class="addProductToCart" id="addProductToCart">הוספה לסל</button>
                }
            </div>
</td>
        <br />

        <td>
            @if (user != null && user.FirstName == "admin")
            {
                <text>|</text>
                @Html.ActionLink("עריכה", "Edit", new { id = item.ID }) <text>|</text>
                @Html.ActionLink("מחיקת מוצר", "Delete", new { id = item.ID })
            }
        </td>
    </tr>
}

</table>
