@model IEnumerable<SmartSuper.ViewModel.ProductsBySupers>


<h2>כלל המוצרים בכלל הרשתות</h2>

<table class="table">
    <tr>
        <th class="tableH">
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th class="tableH">
            @Html.DisplayNameFor(model => model.FoodCompanyName)
        </th>
        <th class="tableH">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th class="tableH">
            @Html.DisplayNameFor(model => model.SuperName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodCompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuperName)
        </td>
    </tr>
}

</table>
