@{
    var sessionVar = (SmartSuper.Models.Customers)HttpContext.Current.Session["user"];
}
@if (sessionVar != null)
{
    <li>@Html.ActionLink("החשבון שלי", "Details", "Customer", new { id = sessionVar.ID }, htmlAttributes: new { id = "detLink" })</li>
    <li>@Html.ActionLink("התנתק", "Logoff", "Customer", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
    if (sessionVar.FirstName != "admin")
    {
        <label class="userName">שלום, @sessionVar.FirstName</label>
    }
    else
    {
        <label class="userName">שלום, מנהל המערכת</label>
    }
}
else
{
    <body background="~/Picture/PageBackground.jpg">
        <ul>
            <li>@Html.ActionLink("רישום", "Create", "Customer", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("התחברות", "Login", "Customer", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
        </body>
        }

